GLITCHTIP_AUTH_TOKEN=""
GLITCHTIP_DSN=""

NEXT_PUBLIC_API="http://..."
NEXT_PUBLIC_CONTACT_EMAIL=you@example.com
NEXT_PUBLIC_NAME='Your Name'
NEXT_PUBLIC_VAT='VAT or fiscal code'
NEXT_PUBLIC_SOCIAL_GITHUB=https://github.com/your-username
NEXT_PUBLIC_SOCIAL_LINKEDIN=https://linkedin.com/in/your-profile
NEXT_PUBLIC_SOCIAL_TELEGRAM=https://t.me/your-handle
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAA...

SMTP_HOST=smtp.example.com
SMTP_PASS=your-password
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=you@example.com
TURNSTILE_SECRET_KEY=0x4AAAAAAA...
